
@media screen and (max-width: 1600px) {
.footer-contacto {
    position: relative;
    width: 100%;
    .galeria__responsive {
        display: none;
    }

}
}
/* -------RESPONSIVE: 780px TABLET: header ----------- */
@media screen and (max-width: 780px) {
    .header {
        nav {
            .nav-links {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            
        }
        .user-img {
            display: flex;
            width: 10%;
        }
    }
    .btn {
        display: none;
    }
    /* -------RESPONSIVE: 780px TABLET: index.html ----------- */
    .section-titulo {
        .titulo {
            font-size: 45px;
            text-align: center;
        }
        p {
            font-size: 13px;
            text-align: center;
            width: 90%;
            margin: auto;
        }
        .setup {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 95%;
            }
        }
    }
    .productos {
        .container-nosotros {
            display: flex;
            flex-direction: column;
            .productos-texto {
                margin-top: 5%;
                margin-right: 5%;
            }
            .img-pc {
                width: 90%;
            }
        }
    }
    .keyboard {
        width: 100%;
        .encabezado-img {
            h2 {
                text-align: center;
                font-size: 3em;
            }
            p {
                text-align: center;
                font-size: 0.9em;
            }
        }
    }
    .section-card {
        .list-container {
            flex-direction: column;
            height: auto;
            width: 100%;
            margin-bottom: 30%;
        }
    }
.teclado-container {
    width: 100%;
    
    h1 {
        text-align: center;
        padding-right: 10%;
    }
    p {
        text-align:center;
        width: 60%;
        top: 35%;
        margin: auto;
        font-size: 20px;
    }
    .titulo-teclado {
        top: 20%;
        text-align: center;
        font-size: 3rem;
        left: 11%;
        
    }
}
/* -------RESPONSIVE: 780px TABLET: juegos.html ----------- */
.barra {
    .joystick {
        width: 100%;
        .joystick-titulo {
            font-size: 10vw ;
            text-align: center;
        }
    }
}
.section-games {
    .contenedor-games {
        width: 100%;
        .galeria {
            display: none;
        }
        .galeria__responsive  {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 5px 0px 5px 0px;
            img {
                width: 90%;
                height: auto;
                margin: auto;
                padding: 5px 0px 5px 0px;
                border-radius: 10px;
            }
        }
    }

}
.exclusivo {
    .exclusive-container {
    @include flex-basic;
        flex-direction: column;
        height: 600px;
        img {
            width: 95%;
        }
    }
    .texto-exclusive {
        h3 {
            font-size: 1.4em;
        }
        
    }
}
/* -------RESPONSIVE: 780px TABLET: contacto.html ----------- */
.section-contacto {
    .container-contacto {
        .contacto {
            display: block;
            .contacto-right {
                margin-top: 20px;
                font-size: 1em;
                width: 100%;
                height: auto;
                table {
                    display: none;
                }
            }
            .contacto-right__responsive {
                display: block;
                .p-title {
                    color: rgb(255, 255, 255);
                    padding: 0.5rem;
                    margin-left: 0;
                    text-decoration: underline;
                }
            }
            .contacto-left {
                display: block;
                .input-row {
                    display: block;
                }
            }
        }
    }
}
.footer-contacto {
    position: relative;
    width: 100%;
}
/* -------RESPONSIVE: 780px TABLET: placas.html ----------- */
.encabezado {
    .encabezado-container {
        p {
            font-size: 1rem;
        }
        .placas-titulo {
            font-size: 2.7rem;
        }
    }
}
.nvidia-section {
    .nvidia-container {
        display: flex;
        flex-direction: column;
    }
    .nvidia-img {
        width: 100%;
    }
    .nvidia-titulo {
        font-size: 2.5rem;
    }
}
.amd-container {
    .amd-titulo {
        font-size: 2.5rem;
    }
    .amd-img {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

}











/* ---------- RESPONSIVE: FOOTER ------------ */

@media screen and (max-width: 780px) { 
    
    .footer-index {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
        .footer-key {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .footer-index {
        margin-top: 10%;
    }
    .footer-key {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
        .footer-key {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .footer-index {
        margin-top: 10%;
    }


    .footer-contacto {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
            
        }
        .footer-key {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}






 /* -------RESPONSIVE: 320px MOBILE ----------- */

@media screen and (max-width: 320px) {
     /* -------RESPONSIVE: 320px MOBILE: header ----------- */
    .header {
        nav {
            .nav-links {
                display: flex;
                flex-direction: column;
                font-size: small;
            }
            
        }
 /* -------RESPONSIVE: 320px MOBILE: footers----------- */
    }
    .footer-index {
        .container {
            .row {
                
                .footer-col {
                    width: 100%;
                    padding: 0 15px;
                    margin-bottom: 30px;
                }
                
            }
        }
    }
    .footer-key {
        .container {
            .row {
                
                .footer-col {
                    width: 100%;
                    padding: 0 15px;
                    margin-bottom: 30px;
                }
                
            }
        }
    }
    .footer-contacto {
        .container {
            .row {
                
                .footer-col {
                    width: 100%;
                    padding: 0 15px;
                    margin-bottom: 30px;
                }
                
            }
        }
    }
}



@media screen and (max-width: 320px) {
    .header {
        .btn {
            width: 30%;
            display: none;
        }
    }
     /* -------RESPONSIVE: 320px PAGINA: index.html ----------- */
    .teclado-container {
        h1 {
            text-align: center;
            margin-right: 60%;
        }
        p {
            text-align: center;
        }
        .titulo-teclado {
            text-align: center;
        }
    }
    .section-titulo {
        .parrafo {
            text-align: center;
            color: wheat;
            font-size: 12px;
        }
        .titulo {
            font-size: 45px;
            text-align: center;
        }
        
    }
    .sobre-nosotros {
        .nuestro-producto {
            .setup {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    width: 95%;
                }
            }
        }
    }
    .section-card {
        .list-container {
            flex-direction: column;
            height: auto;
            width: 100%;
            margin-bottom: 30%;
        }
    }
    .productos {
        .container-nosotros {
            display: flex;
            flex-direction: column;
            .img-pc {
                width: 80%;
            }
            .productos-texto {
                margin-top: 5%;
                margin-right: 5%;
            }
        }
    }
     /* -------RESPONSIVE: 320px MOBILE PAGINA: juegos.html ----------- */
    .barra {
        .joystick {
            width: 100%;
            .joystick-titulo {
                font-size: 10vw ;
                text-align: center;
            }
        }
    }
    .section-games {
        .contenedor-games {
            width: 100%;
            .galeria {
                display: none;
            }
            .galeria__responsive {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 5px 0px 5px 0px;
                img {
                    width: 90%;
                    height: auto;
                    margin: auto;
                    padding: 5px 0px 5px 0px;
                    border-radius: 10px;
                }
            }
        }
    }
    .exclusivo {
        .exclusive-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 600px;
            img {
                width: 95%;
            }
            .texto-exclusive {
                h3 {
                    font-size: 1.4em;
                }
            }
        }
    }
 /* -------RESPONSIVE: 320px PAGINA: placas.html ----------- */

.encabezado {
    .encabezado-container {
        p {
            font-size: 1rem;
        }
        .placas-titulo {
            font-size: 1.7rem;
        }
        .placas-img {
            display: flex;
            width: 50%;
            flex-direction: column;
            margin: auto;
        }
    }
}
.nvidia-section {
    .nvidia-container {
        display: flex;
        flex-direction: column;
        .nvidia-img {
            width: 100%;
        }
        .nvidia-titulo {
            font-size: 1.6rem;
        }
    }
}
.amd-container {
    .amd-titulo {
        font-size: 1.6rem;
        margin-top: 10%;
    }
    .amd-img {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
/* -------RESPONSIVE: 320px PAGINA: contacto.html ----------- */
.section-contacto {
    .container-contacto {
        .contacto {
            display: block;
            .contacto-right {
                margin-top: 20px;
                font-size: 1em;
                width: 100%;
                height: auto;
                table {
                    display: none;
                }
            }
            .contacto-right__responsive {
                display: block;
                .p-title {
                    color: rgb(255, 255, 255);
                    padding: 0.5rem;
                    margin-left: 0;
                    text-decoration: underline;
                }
            }
            .contacto-left {
                display: block;
                .input-row {
                    display: block;
                }
            }
        }
    }
}
}